<!-- DHH lo mette nel SHOW -->
<%= turbo_stream_from @wordle_tweet %>
<% type ||= nil %>

<% if type == 'short' %>

    <!-- SHORT type: typically used for short last top 10 rendering, eg _last_ten.html.erb -->
    <span class="small-top10-element" >
        <%= link_to @wordle_tweet.to_s(),@wordle_tweet %> 
        <!-- <i>(<%#= time_ago_in_words(@wordle_tweet.created_at) %> ago SS)</i> -->
        {Posted <%= time_tag @wordle_tweet.created_at, "data-local": "time-ago" %> CS}
    </span>

<% elsif type == 'long'   %>

    <!-- LONG type: typically served from /wordle_tweets/1234 show.html.erb -->
    <!-- TODO(ricc) this is a duplicate of tweets/_tweet.html.erb  -->

    <h2>1 WTweet #<%= @wordle_tweet.id %></h2>

      <%= render "wordle_tweets/ricc_show", wordle_tweet: @wordle_tweet %>

    <h2>2 Tweet #<%#= @wordle_tweet.tweet.id %></h2>

      <%= render "tweets/ricc_show", tweet: @wordle_tweet.tweet %>

<% else  %>
  Unrecognized type. I only know short/long.
<% end %>
