<div id="<%= dom_id wordle_tweet %>">
  <p>
    <strong>Wordle type:</strong>
    <%= wordle_tweet.wordle_type %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= wordle_tweet.tweet_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= wordle_tweet.score %>
  </p>

  <p>
    <strong>Wordle date:</strong>
    <%= wordle_tweet.wordle_date %>
  </p>

  <p>
    <strong>Wordle incremental day:</strong>
    <%= wordle_tweet.wordle_incremental_day %>
  </p>

</div>
