<p style="color: green"><%= notice %></p>


<!-- 
Mini table: {nil=>91, "lewdle"=>2, "nerdlegame"=>8, "other"=>173, "wordle_de2"=>1, "wordle_en"=>10781, "wordle_fr"=>49, "wordle_it"=>38, "wordle_it1_ciofeco"=>4, "wordle_ko"=>170}

-->
<h3>WT Sub links</h3>

<p style="color:orange" >
You chose: '<b><%= @wordle_type %></b>'
</p>
<p>
Click here to get the subset of Wordle Tweets for a particular type/technology/language:
[
<% WordleTweet.all.group(:wordle_type).count.each do |type,count|
    type_or_nil = type.to_sym rescue :nil
    link = "/wordle_tweets?wordle_type=#{type_or_nil}" 
%>
  <%= link_to "#{count} #{type_or_nil} WTs", link %> |
 <% end %>
]
</p>

<h1>Wordle tweets (<%= @wordle_tweets.count %>)</h1>

<div id="wordle_tweets">
  <table border="1" >
   <tr>
    <th>Show
    <th>VER 
    <th>Type
    <th>Moves 
    <th>Inc Day 
    <th>When
    <!--
    <th>Version 
    <th>Length 
    -->
    <th>Excerpt 
   </tr>
  <% @wordle_tweets.each do |wt| %>
    <%#= render wordle_tweet %>
    <tr>
    <td><small> 
      <%= link_to "WT # #{wt.id}", wt %> <br/>
      <%= link_to "T # #{wt.tweet_id}", wt.tweet %> 
    </small>
      <%#= link_to "Show Tweet #{tweet_id}", wt %> 
    </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.nice_wordle_type %> </td>
    <td> <%= wt.score %> </td>
    <td> <%= wt.wordle_incremental_day %> </td>
    <td> <%= time_ago_in_words(wt.created_at) %> </td>
    <td><%= wt.tweet %>  </td>    
    <td> 
      <%#= link_to "Tweet # #{wt.tweet_id}", Tweet.find(wt.tweet_id) %> 
    </td>

        <!--
    <td> <%= wt.wordle_date %> </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.tweet.to_s.size %> </td>
    <td> <%= wt.max_tries %> </td>
        -->

   </tr>
  <% end %>
  </table>
</div>


<%= link_to "New wordle tweet", new_wordle_tweet_path %>
