<p style="color: green"><%= notice %></p>


<!-- 
Mini table: {nil=>91, "lewdle"=>2, "nerdlegame"=>8, "other"=>173, "wordle_de2"=>1, "wordle_en"=>10781, "wordle_fr"=>49, "wordle_it"=>38, "wordle_it1_ciofeco"=>4, "wordle_ko"=>170}

-->
<h3>sub links</h3>
[
<% WordleTweet.all.group(:wordle_type).count.each do |type,count|
    type_or_nil = type.to_sym rescue :nil
    link = "/wordle_tweets?wordle_type=#{type_or_nil}" 
%>
  <%= link_to "#{count} #{type_or_nil} WTs", link %> |
 <% end %>
]
<h1>Wordle tweets (<%= @wordle_tweets.count %>)</h1>

<div id="wordle_tweets">
  <table border="1" >
   <tr>
    <th>VER 
    <th>Type
    <th>Score/Moves 
    <th>Inc Day 
    <th>Version 
    <th>Length 
   </tr>
  <% @wordle_tweets.each do |wt| %>
    <%#= render wordle_tweet %>
    <tr>
    <td> 
      <%= link_to "Show WT", wt %> 
      <%#= link_to "Show Tweet #{tweet_id}", wt %> 
    </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.wordle_type %> </td>
    <td> <%= wt.score %> </td>
    <td> <%= wt.wordle_incremental_day %> </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.tweet.to_s.size %> </td>
    <td> <%= wt.wordle_date %> </td>
    <td> <%= time_ago_in_words(wt.created_at) %> </td>
    <td> 
      <%#= link_to "Tweet # #{wt.tweet_id}", Tweet.find(wt.tweet_id) %> 
      <%= link_to "Tweet # #{wt.tweet_id}", wt.tweet %> 
    </td>
    
   </tr>
  <% end %>
  </table>
</div>


    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.integer "max_tries"


<%= link_to "New wordle tweet", new_wordle_tweet_path %>
