<%
  interesting_debug_params = {}
  interesting_debug_params[:wordle_type] = @wordle_type
  interesting_debug_params[:spiegone] = @spiegone
  interesting_debug_params[:graphs] = @graphs
%>
<p style="color: green"><%= notice %></p>
<p class="wt_sublinks" >
[
<% @grouped_tweets.each do |type,count|
    type_or_nil = type.to_sym rescue :nil
    link = "/wordle_tweets?wordle_type=#{type_or_nil}"
    next if  type_or_nil == :nil 
%>
  <%= link_to "#{count} #{WordleTweet.flag_by_type(type_or_nil) rescue '?'} #{type_or_nil}", link %> |
 <% end %>
]
</p>

<% if Rails.env.development? %>
<div class="debug" >
  <p style="color:blue" class="debug" >
    Debug for Riccardo. You chose: <br/>
    <% interesting_debug_params.each do |k,v| %>
     <%= k %>: '<b><%= v %></b>' <br/>
    <% end %>
  </p>
  </div>
<% end %>

<p>
<%= render "graphs", 
  :wordle_type => (@wordle_type rescue nil) ,
  :wordle_incremental_day => (@wordle_incremental_day rescue nil),
  :graphs => @graphs ,
  :wordle_tweets => @wordle_tweets rescue "ErrorWithGRaphs: #{ $! }"
%>
</p>


<h1>Wordle tweets (<%= @max_instances %>)</h1>

<div id="wordle_tweets">
  <table border="1" >
   <tr>
    <th>Show
    <th>VER 
    <th>Type
    <th>Moves 
    <th>Inc Day 
    <th>When
    <!--
    <th>Version 
    <th>Length 
    -->
    <th>Excerpt 
   </tr>
  <% @wordle_tweets.each do |wt| %>
    <%#= render wordle_tweet %>
    <tr>
    <td><small> 
      <%= link_to "WT # #{wt.id}", wt %> <br/>
      <%= link_to "T # #{wt.tweet_id}", wt.tweet %> 
    </small>
      <%#= link_to "Show Tweet #{tweet_id}", wt %> 
    </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.nice_wordle_type %> </td>
    <td> <%= wt.score %> </td>
    <td> 
      <%= render "micro_game" , wt: wt %>     
    </td>
    <td> <%= time_ago_in_words(wt.created_at) %> </td>
    <td><%= wt.tweet %>  </td>    
    <td> 
      <%#= link_to "Tweet # #{wt.tweet_id}", Tweet.find(wt.tweet_id) %> 
    </td>

        <!--
    <td> <%= wt.wordle_date %> </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.tweet.to_s.size %> </td>
    <td> <%= wt.max_tries %> </td>
        -->

   </tr>
  <% end %>
  </table>
</div>


<%= link_to "New wordle tweet", new_wordle_tweet_path %>
