<p style="color: green"><%= notice %></p>

Mini table:

<%= WordleTweet.all.group(:wordle_type).count %>

<h1>Wordle tweets</h1>

<div id="wordle_tweets">
  <table border="1" >
   <tr>
    <th>Actions 
    <th>Type
    <th>Score/Moves 
    <th>Inc Day 
    <th>Version 
    <th>Length 
   </tr>
  <% @wordle_tweets.each do |wt| %>
    <%#= render wordle_tweet %>
    <tr>
    <td> 
      <%= link_to "Show WT", wt %> 
      <%#= link_to "Show Tweet #{tweet_id}", wt %> 
    </td>
    <td> <%= wt.wordle_type %> </td>
    <td> <%= wt.score %> </td>
    <td> <%= wt.wordle_incremental_day %> </td>
    <td> <%= wt.import_version %> </td>
    <td> <%= wt.tweet.to_s.size %> </td>
    <td> <%#= wt.import_notes %> </td>
    <td> 
      <%#= link_to "Tweet # #{wt.tweet_id}", Tweet.find(wt.tweet_id) %> 
      <%= link_to "Tweet # #{wt.tweet_id}", wt.tweet %> 
    </td>
    
   </tr>
  <% end %>
  </table>
</div>


    t.string "wordle_type"
    t.integer "tweet_id", null: false
    t.integer "score"
    #t.date "wordle_date"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.integer "max_tries"


<%= link_to "New wordle tweet", new_wordle_tweet_path %>
