<div id="normale" >
<h1>About Twitter Parser</h1>

<p>I came up with the idea of parsing the whole internet a few years ago... but twitter gave me the assist with a beautifully parsable 
new moda: Wordle!</p>

<p>
Some statistics:<br/>
- Tweets: <%= Tweet.count %><br/>
- TwitterUsers: <%= TwitterUser.count %><br/>
- WordleTweets: <%= WordleTweet.count %><br/>
- DB Config: <b><%= Rails.configuration.database_configuration[Rails.env]["adapter"] %></b><br/>
</p>
</div>

<div class='ricc-float-top-right' style='float: right; padding: 15px;' >
    Last tweets:
    <%= render "tweets/last_ten", tweets: @last_tweets, :locals => {:mytweet => 10 } %>

</div>
<div style="clear: left;">
    clear https://www.w3schools.com/css/css_float_clear.asp
</div>