 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],

          ['TwitterUsers',    <%= TwitterUser.count %> ],
          ['Tweets',          <%= Tweet.count %> ],
          ['DelayedJobs',     <%= Delayed::Job.count %> ],
          ['WGames',          <%= WordleGame.count %> ]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

      }
</script>

<div id="normale" >
<!-- 😉 articles/about.html 😉 -->

<h1>About Twitter Parser</h1>

<div class="ricc-global-top-right" >
    <%= render "tweets/last_ten", tweets: @last_tweets, :locals => {:sobenme => 41 } %>
    <%= render "twitter_users/last_ten", tweets: @last_users, :locals => {:sobenme => 42 } %>
    <%= render "games/last_ten", tweets: @last_games, :locals => {:sobenme => 43 } %>
</div>

<p>🟡 I came up with the idea of parsing the whole internet a few years ago... but twitter gave me the assist with a beautifully parsable 
new moda: Wordle!</p>

<p>
Some statistics - Config and DB:<br/>
- Rails.env: <b class="env_<%= Rails.env %>" ><%= Rails.env %></b><br/>
- <b><%= TwitterUser.count %></b> TwitterUsers<br/>
- <b><%= Tweet.count %></b> Tweets<br/>
- <b><%= WordleTweet.count %></b> WordleTweets<br/>
- <b><%= WordleGame.count %></b> WordleGames<br/>
- <b><%= Delayed::Job.count %></b> Delayed Jobs in the queue<br/>
- DB Config: <b><%= Rails.configuration.database_configuration[Rails.env]["adapter"] %></b><br/>
- DB Description: <i><%= Rails.configuration.database_configuration[Rails.env]["descrizione"] %></i><br/>


Freshness:<br/>
- Last Tweet: <b><%= time_ago_in_words @last_tweets.first.created_at %></b> ago<br/>
- Last User: <b><%= time_ago_in_words  @last_users.first.created_at %></b> ago<br/>
</p>

<p>Some of my 🐦 Twitter friends:
 
 <a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/545792">Julio</a> 
 <a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/168301">Paolo</a> 
 <a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/236089">Nik</a> 
 <a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/1">Ricc</a> 
</p>

</div>


<div class='ricc-friends'>
</div>


<h2>DHH quick stuff</h2>

<p>This might require Redis to go fast (if you enable Turbo Cable)</p>

<%= render "wordle_tweets/last_ten", tweets: @last_tweets, :locals => {:sobenme => 41 } %>


<!-- thgese are JS dashboards -->
<div id="chart_div" style="width: 400px; height: 120px;"></div>
