<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<%#= line_chart WordleTweet.group_by_day(:created_at).count  %>
<%= line_chart Tweet.group_by_day(:twitter_created_at).count  %>
<%#= line_chart TwitterUser.group_by_day(:created_at).count  %>

<table border="1" style="valign:100%" >
<tr>
  <td>
    <%= pie_chart WordleTweet.group(:wordle_type).count %>
  <td>
    <%= pie_chart WordleTweet.group(:wordle_incremental_day).count %>
<tr>
  <td>
    <%= pie_chart WordleTweet.group(:score).count %>
  <td>
    <%= pie_chart WordleTweet.group(:wordle_incremental_day).count %>
</table>

<%#= column_chart WordleTweet.group_by_day_of_week(:created_at, format: "%a").count %>

<h2>Wordle Tweet stats</h2>

Average moves per type
<%= bar_chart WordleTweet.group(:wordle_type).average(:score) %>
Coutn [per type]
<%= bar_chart WordleTweet.group(:wordle_type).sum(1) %>

<%= line_chart WordleTweet.all.map { |wt|
    {
     name: wt.wordle_type, 
     data: 
        #[42,42,42,42] # wt.group_by(:score).count
         WordleTweet.all.map{|wt| wt.score } + 42
    }
} rescue "Error #{$!}"%>
