<!-- 
  :id,
  :twitter_user_id,
  :full_text,
  :created_at,
  :updated_at,
  :import_version,
  :import_notes,
  :internal_stuff,
  :json_stuff,
  :twitter_id,
  :twitter_created_at

-->

<div id="<%= dom_id tweet %>">
  <p>
    <strong>Twitter user:</strong>
    <%= tweet.twitter_user_id %>
    <%= link_to tweet.twitter_user,tweet.twitter_user %>
  </p>
  <p>
    <strong>id:</strong>
    <%= tweet.id %>
  </p>
  <p>
    <strong>Twitter id:</strong>
    <%= tweet.twitter_id %>
  </p>

  <p>
    <strong>Full text:</strong>
    <tt>
    <%= tweet.full_text.gsub("\n", "<BR/>").html_safe %>
    </tt>
  </p>

  <p>
    <strong>Stats:</strong>
    <tt>
    <%= tweet.stats %>
    </tt>
  </p>

  <p>
    <strong>JSON stuff:</strong>
    <tt>
    <%= tweet.json_stuff %>
    </tt>
  </p>
  <p>
    <strong>import version:</strong>
    <tt>
    <%= tweet.import_version %>
    </tt>
  </p>

  <p>
    <strong>import notes:</strong>
    <tt>
    <%= tweet.import_notes %>
    </tt>
  </p>
  <p>
    <strong>internal_stuff:</strong>
    <tt>
    <%= tweet.internal_stuff %>
    </tt>
  </p>



    <p>
    <strong>Timestamps 1 CreadedAt:</strong>
    <tt>
    <%= tweet.created_at %>
    </tt>
  </p>
    <p>
    <strong>Timestamps 2 twitter_created_at:</strong>
    <tt>
    <%= tweet.twitter_created_at %>
    </tt>
  </p>
    <p>
    <strong>Timestamps 3 wordle_date:</strong>
    <tt>
      <%= tweet.wordle_tweet.wordle_date %>
    </tt>
  </p>
    <p>
    <strong>ts2 to str:</strong>
    <tt>
      <%= tweet.created_str %>
    </tt>
  </p>


      <p>
    <strong>Freshness (seconds):</strong>
    <tt>
    <%= (tweet.freshness) %>sec
    </tt>

  </p>


    <p>
    <strong>Possible Wordle Twitter:</strong>
    <%= link_to tweet.wordle_tweet, tweet.wordle_tweet rescue "Error: #{ $! }" %>
  </p>

</div>
