<p style="color: green"><%= notice %></p>

<h1>Tweets Nice</h1>

<div id="tweets">
  <table border="1">
    <%= render "tweets/tabular" %>
  <% @tweets.first(100).each do |tweet| %>
    <%= render "tweets/tabular", mytweet: tweet, :locals => {:mytweet => 30 } %>
  <% end %>
  </table>
</div>

<h1>Tweets Ugly</h1>

<div id="tweets_ugly">
  <% @tweets.first(3).each do |tweet| %>
    <%= render tweet %>
    <%= tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
