<h1>🎬 SeedBySearchTerm (<%= @search_term  %>)</h1>




<p>Tweets effectively saved: <tt class='important_field' >
        <b><%= @results[:saved_tweets] rescue '?' %></b>/<%= @results[:called_tweets] rescue '?' %>
</tt></p>


<p>@caller_id: <tt class='important_field' ><b><%= @caller_id %></b></tt></p>
<p>@search_term <tt class='important_field' ><b><%= @search_term  %></b></tt></p>
<p>@dryrun: <tt class='important_field' ><b><%= @dryrun %></b></tt></p>
<p>@background <tt class='important_field' ><b><%= @background  %></b></tt></p>
<p>@debug <tt class='important_field' ><b><%= @debug  %></b></tt></p>
<p>@marshal_on_file <tt class='important_field' ><b><%= @marshal_on_file  %></b></tt></p>



<%= render 'actions/action' %>

