

<h1>🎬 SeedAll</h1>

<p class='debug' >todo(ricc): change action prov anche http://localhost:3000/rails/info/routes
</p>

<p> @search_term : '<b><%=  @search_term %></b>'</p>


<%= render 'actions/action' %>

<h2>todo partial uguale per tutti</h2>

<p>Action: '<%= @action %>'</p>
<p>@description: '<%= @description %>'</p>
<p>@results: <tt class='yellow' ><%= @results %></tt></p>


<p>
Note: this action can take longer. We strongly suggest to call a single search term 
for every HTTP request you do and reach out the <tt>/games/actions/seed_by_search_term</tt>
endpoint instead, thouroughly documented in www.tipiacerebbe.com.
</p>