<div id="<%= dom_id twitter_user %>">
  <p>
    <strong>Twitter Id:</strong>
    <%= twitter_user.twitter_id %>
  </p>
  <p>
    <strong> Id:</strong>
    <%= twitter_user.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= twitter_user.name %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= twitter_user.location %>
  </p>
  <p>
    <strong>id_str (I believe its the TWEET id not USER id - clusterfuck to be fixed):</strong>
    <%= twitter_user.id_str %>
  </p>
  <p>
    <strong>Riccardo  id:</strong>
    <%= twitter_user.id %>
  </p>
  
  <p>
    <strong>description:</strong>
    <%= twitter_user.description %>
  </p>

  <hr/>
  <p>
    <strong>🐦 <%= twitter_user.tweets.count %> tweets</strong>
  </p>
  <p>
    <% twitter_user.tweets.each do |t| %>
      + <%= button_to "❌ Destroy invalid", t, method: :delete unless t.valid? %>
      <%#= t.valid? ? '✔️' : '❌' %> 
      <%= link_to t %> <br/> 
    <%end%>
  </p>


</div>

