<div id="<%= dom_id wordle_game %>">
  <p>
    <strong>Wordle incremental day:</strong>
    <%= wordle_game.wordle_incremental_day %>
  </p>

  <p>
    <strong>Wordle type:</strong>
    <%= wordle_game.wordle_type %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= wordle_game.solution %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= wordle_game.date %>
  </p>

  <p>
    <strong>Json stuff:</strong>
    <%= wordle_game.json_stuff %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= wordle_game.notes %>
  </p>

  <p>
    <strong>Cache average score:</strong>
    <%= wordle_game.cache_average_score %>
  </p>

  <p>
    <strong>Cache tweets count:</strong>
    <%= wordle_game.cache_tweets_count %>
  </p>

  <p>
    <strong>Import version:</strong>
    <%= wordle_game.import_version %>
  </p>

  <p>
    <strong>Import notes:</strong>
    <%= wordle_game.import_notes %>
  </p>

</div>
