<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Scraper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" >
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render :partial => "layouts/header"  %>
    <% if notice  %>
      <p class="warn warn-info riccardo-notice"><%= notice %></p>
    <% end %>
    <% if flash[:error]   %>
      <p class="warn warn-info riccardo-error"><%=flash[:error] %></p>
    <% end %>
    <% if flash[:warn]   %>
      <p class="warn warn-info riccardo-warning" ><%=flash[:warn] %></p>
    <% end %>

    <% flash.select{|type, msg| not type.in?(%w{ notice error warn })  }.each do |type, msg|     %>
      <div class="alert alert-info riccardo-<%=type%>">
        [<%= type %>]<%= msg %>
      </div>
    <% end %>

    <%= yield %>
    <%= render :partial => "layouts/footer"  %>
  </body>
</html>
